.btn-primary {
  margin: 10px;
}

#buttonDiv {
  margin:0 auto;
}

.button-width {
  margin: 30 px;
  width:300px;
}
.modal-body {
  padding: 2px 16px;
  max-height: 800px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: hsl(221, 76%, 69%);
  color: rgb(244, 245, 247);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
